@{
    Layout =null;
}
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Post

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LectureStudentService</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>
<body>
    <!--For You Page-->
    <div class= "HeaderLayout">
      <li class="nav-item">
          <a class="nav-link" asp-area="" asp-controller="Home" asp-action="home">Home</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Login">Login</a>
      </li>
    </div>
    <div class="homepage">
        @if (ViewBag.loginedornot == null)
        {
              <h1 class= "viewbag">@ViewBag.loginedornot</h1>

         }
      <section class="foryoupage">

      <div class="MyPosts">

                @if (ViewBag.UserPosts != null)
                {
                    foreach (var post in ViewBag.UserPosts)
                    {
                        string username = "";
                        string profilepicture = "";
                        var postsList = ViewBag.Posts as List<User>; 
                            if (postsList != null)
                            {
                            var user = postsList.FirstOrDefault(u => u.id == post.UserID);
                                if (user != null)
                               {
                                profilepicture = user.ProfilePicture;
                                username = user.Username;
                            }
                        }
                        string comment = "";
                        string comenterUserName = "";
                        string ComenterProfilePicture = "";
                        List<Comments> commentslist = new List<Comments>();
                        var users = ViewBag.Users as List<User>;
                        var comments = ViewBag.Comments as List<Comments>;
                        var comcount = comments != null ? comments.Where(u => u.PostID == post.Id).Count() : 0;
                        @if (comments != null)
                        {
                            var com = comments.Where(c => c.PostID == post.Id);
                            if (com != null)
                            {
                                foreach(var item in com)
                                {
                                  commentslist.Add(item);               
                                }
                            }
                        }



                            <div class="Each_Post">
                                <div class="userdata">
                                    <div class= "namephotoflex">
                                        <img class="PostProfile" src="@profilepicture" alt="">
                                        <div>
                                        <h2 class= "MyUsername">@username</h2>
                                        </div>
                                    </div>
                                    <div>
                                        <p class= "postdate">Date: @post.DateTime.ToString("MM/dd/yyyy HH:mm:ss")</p>
                                    </div>
                                </div>
                                <div class= "Postcontent">
                                    <div class="flextitles"> 
                                        <p>@post.post</p>
                                    </div>
                                    <div class= "photocontentwitdth">
                                        <div class="imgofpost" id="imgofpost">
                                            @if (@post.Photo != null)
                                            {
                                                <img src="@post.Photo" class="Post_photowidth" id="Post_photowidth" alt="Post Image">
                                            }
                                            else
                                            {

                                            }
                                        </div>
                                    </div>

                                    <div class = "comment_likes">
                                        <div class= "like">Like</div>
                                        <div class= "comclick">Comment @comcount</div>
                                    </div>

                                    <div class = "commentSection">
                                    @if (users!=null) {
                                       var usercoment = comments.Where(u => u.PostID == post.Id);
                                       if (usercoment != null)
                                         {                
                                            foreach (var item in usercoment)
                                            {

                                                var userData = users.Where(u => u.id == item.UserID);
                                                <div class = "eachcomment">
                                                @foreach (var user in userData)
                                                {
                                                   
                                                   <div class = "commenterProfile">
                                                     <img class="profilepic" src="@user.ProfilePicture" alt="">
                                                     <b> @user.Username</b>
                                                   </div>
                                                }
                                                <p>@item.Comment</p>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            
                                        }
                                    }
                                  </div>                                   
                                </div>
                            </div>                         
                    }
                }
                else
                {
                    <h1>ViewBag.NoPosts</h1>
                }
      </section>
    </div>
</body>
</html>
