
@using (Html.BeginForm("Profile", "MyProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
 <!--Modal window-->
 <div class="modalwindow" id="myModal">
      <p>@ViewBag.LooginFirst</p>
 </div>
 @if (ViewBag.SuccessAlert != null || ViewBag.ErrorAlert != null)
 {            
                   <script>
                       var modal = document.getElementById("myModal");
                       modal.style.transition = "0.3s all ease-in-out";
                       modal.style.display = "flex";
                       setTimeout(function(){
                           modal.style.opacity = "1";                     
                       }, 500);
                       setTimeout(function(){
                          modal.style.opacity = "0";  
                       }, 6000);
                       setTimeout(function(){
                           modal.style.display = "none";
                       }, 7000);
                   </script>
 }

@model Post;
<!--Modal window-->
<link rel="stylesheet" href="~/css/Profile.css" asp-append-version="true" />
    <div class="containercenter">
       <div class="updatepost">    
         <div class="Profile_data">
            <div id="ProfilePictureCont">
                <img id="ProfilePreview" src="@ViewBag.Profile" alt="">
            </div>
                <p class= "userName">@ViewBag.Name @ViewBag.LastName</p>
            </div>
     <div class="buttonsflex">
        <div class = "formhidden" id="formhidden">
           <form asp-action="Profile" method="post" enctype="multipart/form-data">
               <form id="imageForm" asp-action="Profile" method="post" enctype="multipart/form-data">
                   <div class="form-group">
                       <input id="imageInput" class="fileinput" type="file" name="ImageFile" accept="image/*" required onchange="previewImage(event)" />
                   </div>
                   <div class="form-group">
                        <button  class="button" type="submit" data-text="Awesome"  id="submitBtn">
                          <span class="actual-text">&nbsp;Upload&nbsp;</span>
                          <span aria-hidden="true" class="hover-text"
                            >&nbsp;Upload&nbsp;</span
                          >
                        </button>
                   </div>
               </form>
           </form>
        </div>
     </div>
   </div>  
  <!--Post Publish-->
   <div class ="PostParent" id = "PostParent">
      <div class="PostPublish" id="PostPublish" onclick="togglePublishSection()">
            <div class="WritePostText" id="WritePostText">
                 <h1>Write Post...</h1>
          </div>
          <div class="HidePublish">
              <button class="HidePublishButtton" id="HidePublishButtton" onclick="hidePublishSection()">X</button>
          </div>
          <form class="Formpublish" asp-action="PostPublish" method="post" enctype="multipart/form-data">
              <input type="text" class="inputpost" placeholder="Post" asp-for="@Model.post" name="PostPost" required>
              <div class="photocontainer">
                  <input id="imageInput" class="photouploadbutton" type="file" name="ImageFile" accept="image/*" onchange="previewImage(this)" />
                  <div class="photopreviewcontainer" id="photopreviewcontainer">
                      <img id="ProfilePreview2" src="" alt="">
                  </div>
              </div>
              <button class="submitPostButton" type="submit">submit</button>
          </form>
      </div>
   </div>




      <!--My Post-->
      <div class="MyPosts">
          
            @if (ViewBag.UserPosts != null)
            {
                foreach (var post in ViewBag.UserPosts)
                {
                     <div class="Each_Post">
                         <div class="userdata">
                             <div class= "namephotoflex">
                                <img class="PostProfile" src="@ViewBag.Profile" alt="">
                                <div>
                                   <h2 class= "MyUsername">@ViewBag.Username</h2>
                                </div>
                              </div>
                              <div>
                                <p class= "postdate">Date: @post.DateTime.ToString("MM/dd/yyyy HH:mm:ss")</p>
                             </div>
                         </div>
                        <div class= "Postcontent">
                            <div class="flextitles"> 
                                <p>@post.post</p>
                            </div>
                          <div class= "photocontentwitdth">
                                <div class="imgofpost" id="imgofpost">
                                    @if (@post.Photo != null)
                                    {
                                        <img src="@post.Photo" class="Post_photowidth" id="Post_photowidth" alt="Post Image">
                                    }
                                    else
                                    {
                                        
                                    }
                                </div>
                            </div>
                            <div></div>
                        </div>
                    </div>
                }
            }
            else{
                <h1>ViewBag.NoPosts</h1>
            }
      </div>
    </div>
    <script src="/js/Profile.js"></script>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
