
@using (Html.BeginForm("Profile", "MyProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
 <!--Modal window-->
 <div class="modalwindow" id="myModal">
      <p>@ViewBag.LooginFirst</p>
 </div>
 @if (ViewBag.SuccessAlert != null || ViewBag.ErrorAlert != null)
 {            
                   <script>
                       var modal = document.getElementById("myModal");
                       modal.style.transition = "0.3s all ease-in-out";
                       modal.style.display = "flex";
                       setTimeout(function(){
                           modal.style.opacity = "1";                     
                       }, 500);
                       setTimeout(function(){
                          modal.style.opacity = "0";  
                       }, 6000);
                       setTimeout(function(){
                           modal.style.display = "none";
                       }, 7000);
                   </script>
 }

@model Post;
<!--Modal window-->
<link rel="stylesheet" href="~/css/Profile.css" asp-append-version="true" />
    <div class="containercenter">
       <div class="updatepost">    
         <div class="Profile_data">
            <div id="ProfilePictureCont">
                <img id="ProfilePreview" src="@ViewBag.Profile" alt="">
            </div>
                <p class= "userName">@ViewBag.Name @ViewBag.LastName</p>
            </div>
     <div class="buttonsflex">
        <div> 
          <button class="change" id="changephoto">Change Profile</button>
          <button class="change" id = "writepost">Write Post</button>
        </div>
        <div class = "formhidden" id="formhidden">
           <form asp-action="Profile" method="post" enctype="multipart/form-data">
               <form id="imageForm" asp-action="Profile" method="post" enctype="multipart/form-data">
                   <div class="form-group">
                       <input id="imageInput" class="fileinput" type="file" name="ImageFile" accept="image/*" required onchange="previewImage(event)" />
                   </div>
                   <div class="form-group">
                        <button  class="button" type="submit" data-text="Awesome"  id="submitBtn">
                          <span class="actual-text">&nbsp;Upload&nbsp;</span>
                          <span aria-hidden="true" class="hover-text"
                            >&nbsp;Upload&nbsp;</span
                          >
                        </button>
                   </div>
               </form>
           </form>
        </div>
     </div>
   </div>
   <!--Post Publish-->

      <div class= "PostPublish" id="PostPublish">
                <form asp-action="PostPublish" method="post" enctype="multipart/form-data">
                <input type="text" class= "inputpost title" placeholder ="Title"  asp-for="@Model.Title" name="PostTitle" required> 
                <input type="text" class= "inputpost Post" placeholder ="Post"  asp-for="@Model.post" name="PostPost" required> 
                <input id="imageInput" class="fileinput" type="file" name="ImageFile" accept="image/*" onchange="previewImage(event)" />
                <button class= "btn-primary" type="submit">submit</button>
            </form>
      </div>


      <!--My Post-->
      <div class="MyPosts">
          
            @if (ViewBag.UserPosts != null)
            {
                foreach (var post in ViewBag.UserPosts)
                {
                     <div class="Each_Post">
                         <div class="userdata">
                             <div class= "namephotoflex">
                                <img class="PostProfile" src="@ViewBag.Profile" alt="">
                                <h2 class = "postusername">@ViewBag.Name  @ViewBag.LastName</h2>
                              </div>
                              <div>
                                <p class= "postdate">Date: @post.DateTime.ToString("MM/dd/yyyy HH:mm:ss")</p>
                             </div>
                         </div>
                        <div class= "Postcontent">
                            <div class="flextitles"> 
                                <p>@post.post</p>
                            </div>
                            <div class= "photocontentwitdth">
                                <div class="imgofpost">
                                    <img src="@post.Photo" class= "Post_photowidth" alt="Post Image">
                                </div>   
                            </div>
                            <div></div>
                        </div>
                    </div>
                }
            }
            else{
                <h1>ViewBag.NoPosts</h1>
            }
      </div>
    </div>
    <script src="/js/Profile.js"></script>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
