

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LectureStudentService</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Profile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/PostCards.css" asp-append-version="true" />
</head>
<body>

    <div class = "fixedContainerBackground"></div>
    @model Post;
@using (Html.BeginForm("Profile", "MyProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="containercenter">
           <div class = "ExitFromAccount">
               <a class="nav-item" asp-controller="Login" asp-action="Login">
                   <img class= "exitimg" src="/img/exit.png">
                   <div class ="">
                      <p class="ExitButton">Exit From Account</p>
                      <div class="borderspan"></div>
                   </div>

               </a>
           </div>
           <div class="updatepost">    
             <div class="Profile_data">
                 <div class="editFlex">
                   <div class="profileandName">
                       <div id="ProfilePictureCont" id="editbutton">               
                         <script>
                              var photo = document.getElementById("ProfilePictureCont");   
                             photo.style.backgroundImage = "url('@ViewBag.Profile')";
                         </script>
                       </div>
                       <p class= "userName">@ViewBag.Name @ViewBag.LastName</p>
                   </div>
                   <div class="editbutton" id = "editbutton">
                       <img src="../img/icons8-edit-30.png" class="editimage"/>
                       <b>Edit</b></div>
                   <div class="ChangeButtonsParent" id="ChangeButtonsParent">
                      <div class="Xbuttonalign"> 
                          <button class= "changebuttons Xbutton"  id="Xbutton">X</button>                 
                      </div>
                      <div class="changebuttonsdiv">
                         <a class= "changebuttons" asp-controller="MyProfile" asp-action="ProfileUpdate">Edit Profile</a>
                         <a class= "changebuttons">Edit Cover</a>
                      </div>

                   </div>
                </div>
            </div>
        </div>  
          <!--My Post-->
          <div class="MyPosts">

                @if (ViewBag.UserPosts != null)
                {
                    foreach (var post in ViewBag.UserPosts)
                    {
                        string username = "";
                        string profilepicture = "";
                        var postsList = ViewBag.Posts as List<User>;
                        if (postsList != null)
                        {
                            var user = postsList.FirstOrDefault(u => u.id == post.UserID);
                            if (user != null)
                            {
                                if (user.ProfilePicture != "")
                                {
                                    profilepicture = user.ProfilePicture;
                                }
                                else
                                {
                                    profilepicture = "/img/profile.png";
                                }
                                username = user.Username;
                            }
                        }
                        string comment = "";
                        string comenterUserName = "";
                        string ComenterProfilePicture = "";
                        List<Comments> commentslist = new List<Comments>();
                        var users = ViewBag.Users as List<User>;
                        var comments = ViewBag.Comments as List<Comments>;
                        var Likes = ViewBag.Likes as List<Likes>;
                        var comcount = comments != null ? comments.Where(u => u.PostID == post.Id).Count() : 0;
                        var LikeCount = Likes != null ? Likes.Where(u => u.PostID == post.Id).Count() : 0;
                        string output = "";
                        @if (LikeCount > 0)
                        {
                            output += LikeCount;
                        }
                        else if (LikeCount < 0)
                        {
                            output = "";
                        }
                        @if (comments != null)
                        {
                            var com = comments.Where(c => c.PostID == post.Id);
                            if (com != null)
                            {
                                foreach (var item in com)
                                {
                                    commentslist.Add(item);
                                }
                            }
                        }



                                 <div class="Each_Post" id = "Each_Post">
                                    <div class="userdata">
                                        <div class= "namephotoflex">
                                           <img class="PostProfile" src="@ViewBag.Profile" alt="">
                                            <div>
                                             <h2 class= "MyUsername">@ViewBag.Username</h2>
                                            </div>
                                        </div>
                                        <div>
                                            <p class= "postdate">Date: @post.DateTime.ToString("MM/dd/ HH:mm")</p>
                                        </div>
                                    </div>
                                    <div class= "Postcontent">
                                        <div class="flextitles"> 
                                            <p>@post.post</p>
                                        </div>
                                        <div class= "photocontentwitdth">
                                            <div class="imgofpost" id="imgofpost">
                                        @if (@post.Photo != null)
                                        {
                                               <img src="@post.Photo" class="Post_photowidth" id="Post_photowidth" alt="Post Image">
                                        }
                                        else
                                        {

                                        }
                                     </div>
                                 </div>


                                 <div class = "comment_likes">
                                       <div class= "Like">Like</div>
                                     <div class= "comclick">Comment @comcount</div>
                                 </div>

                                 <div class = "commentSection">
                                    @if (users != null)
                                    {
                                        var usercoment = comments.Where(u => u.PostID == post.Id);
                                        if (usercoment != null)
                                        {
                                            foreach (var item in usercoment)
                                            {
                                                var userData = users.Where(u => u.id == item.UserID);
                                                            <div class = "eachcomment">
                                                    @foreach (var user in userData)
                                                    {                      
                                                                    <div class = "commenterProfile">
                                                                      <img class="profilepic" src="@user.ProfilePicture" alt="">
                                                                      <b> @user.Username</b>
                                                                    </div>
                                                    }
                                                        <p>@item.Comment</p>
                                                        </div>
                                            }
                                        }
                                        else
                                        {

                                        }
                                    }
                                   </div>   
                                      <form class="commentinput" method="post" asp-action="Profile">
                                      <input type="text" name = "@post.Id" class="commentInputStyle" placeholder="Comment To Post" required />       
                                      <button type="submit" class= "submitbuttonlogin">Submit</button>   
                                   </form>
                                 </div>
                             </div>                         
                    }
                }
                else
                {
                        <h1>@ViewBag.NoPosts</h1>
                }
          </div>
        </div>
        <script src="/js/Profile.js"></script>
    }
</body>
</html>

